<br />
<br />
<br />
<br />
<form action="/setup" method="POST">
  <div class="row">
    <div class="panel">
      <h1>Hello Spammer!</h1>
      <p>Ready to spam?</p>
      <a href="/setup" class="button">Let's get started &raquo;</a>
    </div>
  </div>
</form>
