<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>Spammer</title>
  <meta name="description" content="Spammer">
  <meta name="author" content="Daniele Polencic">
  <link rel="stylesheet" href="stylesheets/foundation.min.css">
  <link rel="stylesheet" href="stylesheets/app.css">
</head>
<body>
  <div class="content">
  {{ yield }}
  </div>
  <script src="javascripts/foundation.min.js"></script>
  <script src="javascripts/app.js"></script>
</body>
</html>
