<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Mailer</title>
</head>
<body>
  <h1>Mailer</h1>
  <h2>Usage:</h2>
  <h3>GET /send</h3>
  <p>Send email. Parameters (*required):</p>
  <ul>
    <li>to_email*</li>
    <li>api_key*</li>
    <li>message*</li>
    <li>subject*</li>
    <li>from_email</li>
    <li>from_name</li>
  </ul>
  <p>All the extra parameters are passed to the templating engine (<a href="https://github.com/Shopify/liquid">Liquid</a>).</p>
</body>
</html>
